if services['http']
    div.panel.panel-services
        div.panel-heading
            h2 Http Services
        div.panel-body
            table.table
                col(style='width: 7em;')
                col(style='width: 20em;')
                col(style='width: 4em;')
                col
                col(style='width: 8em;')
                thead
                    tr
                        th(style='text-align:center;') Method
                        th(style='text-align:center;') URL
                        th(style='text-align:center;') Status
                        th(style='text-align:center;') Response
                        th(style='text-align:center;') Content Type
                tbody
                    each service in services['http']
                        if(service.method == 'GET')
                            tr.get(style='text-align:center;')
                                include http_table_cols
                        else if(service.method == 'POST')
                            tr.post(style='text-align:center;')
                                include http_table_cols
                        else if(service.method == 'PUT')
                            tr.put(style='text-align:center;')
                                include http_table_cols
                        else if(service.method == 'DELETE')
                            tr.delete(style='text-align:center;')
                                include http_table_cols
        div.panel-footer