doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/pure-min.css')
        link(rel='stylesheet', href='stylesheets/dashboard.css')
    body.container
        div.navbar.navbar-inverse(role="navigation")
            div.navbar-inner
                a.brand(href="#")
                    img(src="images/fossa_logo.png")
                ul.nav
                    li#services_by_type.active
                        a.dashboard_nav_link(href="#") Services by type
                    li#services_by_type
                        a(href="#") Services by HTTP method
                    li#config_json
                        a(href="#") configapi_key_test.json
                    li#documentation
                        a(href="#") Documentation
                form.navbar-form
                    input.span2(type="text")
                    button.btn(type="submit") Submit

    div.container

    script(src='javascripts/jquery-1.10.2.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/dashboard.js')
