extends layout

block content
    div.page-header
        div.container
            img.pull-right(src="images/fossa.jpg",style="width: 40%")
            h1 Fossa Simulator Dashboard
    if services
        include http
      