.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #ab905c;
}

.navbar-inverse .navbar-form .btn {
    margin-left: 5pt;
}

.container {
    background-color: #ab905c;
}